<main>
  <h1>Hello. ☀️</h1>
  <form [formGroup]="weatherForm" (ngSubmit)="onSubmit()">
    <label for="city">Please enter a city:</label>
    <!-- TODO Show error state if city is empty on submit -->
    <input type="text" formControlName="city" required />
    <button type="submit">Get Forecast</button>
    <p>
      You can specify a country using a
      <a
        href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements"
        target="_blank"
        rel="noopener noreferrer"
        >two-letter country code</a
      >.
    </p>
    <p>
      For example, you can search for Springfield, Belize by typing
      "springfield,bz".
    </p>
  </form>
  <div *ngIf="forecast !== undefined">
    <h2>
      5-Day Forecast for {{ forecast.city?.name }}, {{ forecast.city?.country }}
    </h2>
    <ol>
      <li *ngFor="let item of forecast5Days">
        <h3>
          {{
            item.date.toLocaleDateString(undefined, {
              weekday: "long",
              month: "numeric",
              day: "numeric"
            })
          }}
        </h3>
        <p>Mean: {{ formatTemperature(item.tempMean) }}</p>
        <p>
          {{ formatTemperatureRange(item.tempMin, item.tempMax) }}
        </p>
      </li>
    </ol>
  </div>
</main>
